node_modules/
.env
cameras.json
settings.json
data/
data/*
public/recordings/
public/streams/
*.log
nvr.db.json
keygen.js

# Build Binaries
archer-nvr-arm64
archer-nvr-x64
TUTORIAL_PRODUKSI.md

# SPLIT DB & DATABASE FILES
data/db_*.json
data/local_db_*.json
*.bak
*.tmp
.safe_golden_snapshot.json

# LIVE DB FIX
data/live_db/
data/live_db/*
live_db/
live_db/*
local_db_*.json
