node_modules/
.env

cameras.json
settings.json
data/
public/recordings/
public/streams/
*.log
nvr.db.json
keygen.js

# Build Binaries
archer-nvr-arm64
archer-nvr-x64
TUTORIAL_PRODUKSI.md

# SPLIT DB FILES
data/db_*.json
data/local_db_*.json
*.bak

# LIVE DB FIX
data/live_db/
data/live_db/*
local_db_*.json
