node_modules/
.env

# ==================================================
# SEMENTARA DI-COMMENT AGAR TERSIMPAN SELAMA PROSES DEBUG/FIXING
# ==================================================

cameras.json
settings.json
data/
public/recordings/
public/streams/
*.log
nvr.db.json
keygen.js

# Build Binaries
archer-nvr-arm64
archer-nvr-x64
TUTORIAL_PRODUKSI.md
